.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("./images/bgimg.jpg");
  min-height: 50%;
}

.w3-display-middle.w3-center {
  text-align: center;
  font-size: 28px;
  color: white;
  padding: 80px;
  margin: auto;
  border: auto;
}

.w3-display-bottomleft.w3-center.w3-padding-large {
  text-align: left;
  font-size: 20px;
  color: white;
  padding: 15px;
  margin: auto;
  border: auto;
  background-color: black;

}

.w3-display-bottomright.w3-center.w3-padding-large {
  text-align: right;
  font-size: 20px;
  color: white;
  padding: 15px;
  margin: auto;
  border: auto;
  background-color: black;
}

p { 
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border: 10px;
  width: 100%;
}