* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  scroll-snap-align: center;
  width: 100%;
  height: 100vh;
}

section p {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: 300;
  color: rgba(0,0,0,1)
}
