* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0px;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 50px;
}


.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
