* {
  box-sizing: border-box;
}

nav {
  width: auto;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0px;
  padding: 10px;
  height: 100%;
  background:rgba(192,192,192,0.3);
}

#bgimg {
  height: 50%;
  width: 100%;
  opacity: 80%;
  background-position: center;
  background-size: cover;
  background-image: url("/website/public/images/bgimg.jpg");
  min-height: 75%;
}


.header {
  font-size: 28px;
  text-align: center;
  align-content: center;
  border: auto;
  margin: auto;
  padding: auto;
  width: 85%;
  background: rgba(192,192,192,0.3);
}


#profic {
  height: 250px;
  width: 300px;
  display: block;
  margin: auto;
  padding: 5px;
  align-content: left; 
  text-align: left;
}

.column {   
  text-align: center;
  align-content: left;
  border: auto;
  margin: auto;
  padding: auto;
  width: 85%;
  height: 250px;
}

#footer {
  display: block;
  margin: auto;
  border: auto;
  padding: auto;
  width: 100%;
  text-align: center;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}
