* {
  box-sizing: border-box;
}

nav {
  width: auto;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0px;
  padding: 10px;
  background:rgba(192,192,192,0.3);
}

.header {
  font-size: 28px;
  align-content: left;
  border: auto;
  margin: auto;
  padding: auto;
  width: 85%;
  background: rgba(192,192,192,0.3);
}

img {
  height: 250px;
  width: 300px;
  display: block;
  margin: 0px;
  padding: 5px;
  align-content: left; 
  text-align: left;
}

.column {   
  align-content: left;
  border: auto;
  margin: auto;
  padding: auto;
  width: 85%;
  height: 250px;
}

footer {
  display: block;
  margin: auto;
  border: auto;
  padding: auto;
  width: 100%;
  text-align: center;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .column {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}
