* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 16px;
  background: #333333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  /*overflow: hidden*/
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  float: right;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color:#f4f4f4; 
}

.navbar ul li a:hover {
  color: skyblue;
}

#menu a {
  color: black;
}

.footer {
  display: block;
  margin: auto;
  border: auto;
  padding: auto;
  width: 100%;
  text-align: center;
  align-content: center;
}
