extends layout
block content  
  head
    style
      include ../public/css/about.css
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css')
    title= title
  body  
    section
      .about
        h1 - My Mission -
        p  - To create things that make the world a little bit better -
        h3   About
        
        .img-container
          img(src='/images/AboutPage-1.jpg' alt='Oh no..')
        p#content Hello everyone, my name is Matsu Chen. 

  
        