extends layout

block content
  link(rel='stylesheet' type='text/css' href='/css/add_posts.css')
  title New Post
  h1 #{title}
  form(method='POST', action='/posts/add_posts')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Author:
      textarea.form-control(name='author', type='text')
    #form-group
      label Content:
      textarea.form-control(name='content')
    br
    #input-btn
      input.btn.btn-primary(type='submit', value='Submit')
    