doctype html
html
  head
    style
      include ../public/css/chat.css
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    title Chat Room
  body
    ul#messages
    form#chatForm(action='/', method='POST')
      input#txt(autocomplete='off', autofocus='on', placeholder='Type your message here...')
      button Send
    script.
      let socket = io.connect(window.location.origin)
      // submit text message without reload/refresh the page
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
        return false;
      });

      let username = prompt('Please tell me your name');
      socket.emit('username', username);
      // append the chat text message
      socket.on('chat_message', function(msg){
        $('#messages').append($('<li>').html(msg));
      });
      // append text if someone is online
      socket.on('is_online', function(username) {
        $('#messages').append($('<li>').html(username));
      });
      