extends layout

block content  
  head
    style
      include ../public/css/index.css
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css'>

    title= title 
  body  
      header#home.bgimg.w3-display-container.w3-grayscale-min
        .w3-display-bottomleft.w3-center.w3-padding-large
          .span.w3-text-white
            | Limerence
        .w3-display-middle.w3-center
          .span.w3-text-white
            | Matsu
        .w3-display-bottomright.w3-center.w3-padding-large
          .span.w3-text-white Serendipity

      //-header#home.bgimg
        .w3-display-middle.w3-center
          .span.w3-text-white(style='font-size:50px')
            | Matsu Chen
      .row
        .column
          img(src='/images/propic.jpg', alt='Propic' id='profic') 
        .column
          .card
            h2 Introduction
            p
              |  Hello, I'am Matsu Chen. I graduated from National Yunlin University of Science and Technology(NYUST) and major in Information Management(IM).
              |  My interests are languagues, piano, photography and programming. I can communicate both in Japanese and English, and now learning to speak in
              |  Korean. As for programming language, I am much more familiar with node.js and javascript compared to other languages, I know how to make use of
              |  C and Python. If you would like to contact with me, please send an email to me in the contact page or just scroll down to the bottom of this page. 