extends layout

block content  
  head
    title= title
  body   
      .header 
        h1 
        | Welcome ! I'm Matsu Chen
      .row
        .column
          img(src='/images/propic.jpg', alt='Propic') 
        .column
          .card
            h2 Introduction
            br
            br
            br
            br
            br
            p
              |  I'm Matsu Chen, and I graduated from ...