extends layout
block content  
  head
    style
      include ../public/css/index.css
      link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata")
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css')
    title= title
  body  
    section#home
      h1 
        |  Matsu Chen
      p
        |  Hello, I'am Matsu Chen. This is my website. To know more about me, check above.
    section#posts
      p
        |  Things end but memories last forever
    section#photography
      p
        |  If your pictures aren't good enough, you're not close enough.
    section#about
      p
        |  Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.
    section#contact
      p
        |  Contact is looking for its background photo now...
    section#portfolio
      p
        |  Imaginative, Fascinating, Innovative