extends layout

block content  
  head
    style
      include ../public/css/nlp.css
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css'>
    title= title
  body  
    section#nlp
      p
        |  Building Natural Language Process Research Projects...