extends layout


block content
  h1 #{title} 
  ul.list-group
    each article, i in articles
      //-the "=" sign should be right after the variable to be assigned!!
      li.list-group-item  
        a(href='/articles/'+article._id)= article.title